<header>
  <div class="header_container">
    <!-- Breadcrumbs -->

    <div class="breadcrumbs">
      <p>Home</p>
      <span>/</span>
      <p>Dashboard Overview</p>
    </div>

    <!-- Search -->
    <div class="search_bar">
      <input type="text" placeholder="Search..." />
    </div>

    <!-- Notifications and New tasks -->
    <div class="header_actions">
      <button class="notification_button">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="notification_important"
        ></mat-icon>
      </button>
      <button class="new_task_button"><mat-icon>add</mat-icon> New Task</button>
    </div>
  </div>
</header>
