@use '@angular/material' as mat;

@include mat.core();

$dark-primary: (
  50: #e4e4e5,
  100: #bcbcbe,
  500: #1e1f22,
  700: #161719,
  contrast: (
    500: #ffffff,
    700: #ffffff,
  ),
);

$orange-accent: (
  50: #fdf4e6,
  100: #f9e3c0,
  500: #e29a33,
  700: #d4872a,
  contrast: (
    500: #000000,
    700: #000000,
  ),
);

$my-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette($dark-primary),
      accent: mat.m2-define-palette($orange-accent),
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

:root {
  @include mat.all-component-themes($my-theme);
}
